---
import { prisma } from "../../../utils/prisma";
import Layout from "../../layouts/Layout.astro";
import { codeToHtml } from "shiki";

const { slug } = Astro.params;
const data = await prisma.paste.findFirst({
  where: {
    slug: slug,
  },
});

if (data === null) {
  return Astro.redirect("/");
}

const html = await codeToHtml(data.content, {
  lang: "markdown",
  theme: "one-dark-pro",
  colorReplacements: {
    "#171717": "#282c34",
    "#282c34": "#171717",
  },
});
---

<Layout title="Faste - Create your pastes faster">
  <main class="w-full h-screen bg-neutral-900 py-3 flex flex-row">
    <div class="h-full flex min-w-12 max-w-12 items-center flex-col">
      {
        data.content
          .split("\n")
          .map((_, idx) => <span class="text-sm text-gray-400">{idx + 1}</span>)
      }
    </div>
    <div
      class="text-sm overflow-x-scroll tracking-tight flex flex-col resize-none h-full w-max font-mono outline-none ring-none border-none bg-neutral-900 pt-[1px] px-12 pl-0 overflow-hidden"
      set:html={html}
    />
    <section
      class="absolute bottom-4 left-1/2 transform -translate-x-1/2 text-white flex divide-neutral-700"
    >
      <button
        id="raw"
        class="border bg-neutral-900 border-neutral-700 px-4 py-2 rounded-r hover:bg-neutral-950 active:bg-neutral-900"
      >
        View raw<br />
        <div class="hidden sm:block">
          <kbd>CTRL</kbd>
          +
          <kbd>r</kbd>
        </div>
      </button>
    </section>
  </main>
</Layout>

<!-- use is:inline to avoid astro scoping as the html in the set:html doesn't have astro's scope -->
<style is:inline>
  .shiki {
    background-color: #171717 !important;
  }
</style>

<script>
  const $viewRawButton = document.querySelector("#raw");
  if ($viewRawButton instanceof HTMLButtonElement) {
    $viewRawButton.onclick = () => {
      const newUrl = `${window.location.origin}${window.location.pathname}/raw`;
      window.location.href = newUrl;
    };
  }
  window.addEventListener("keydown", async (event) => {
    if (event.ctrlKey && event.key.toLowerCase() === "r") {
      event.preventDefault();
      const newUrl = `${window.location.origin}${window.location.pathname}/raw`;
      window.location.href = newUrl;
    }
  });
</script>
